<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{{ url_for('logbook.static', filename='img/logo-icon.svg') }}" rel="icon" type="image/x-icon" />
    <title>Personal Logbook</title>
    {% assets "main_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "site_js" %}
    <script async src={{ ASSET_URL }}></script>
    {% endassets %}
</head>

<body>
    {% block nav_top %}{% endblock%}

    {% block content %}{% endblock %} {% block footer %}{% endblock %}
</body>

</html>