<div class="mx-auto max-w-2xl" id="edit-log">
    <div class="w-full clearfix">
        <form action="{{ url_for('logbook.update_log_content', log_id = log_id) }}" method="post"
            up-target="#logs-list">
            <textarea class="input w-full max-h-screen-80" type="msg" name="text" autofocus
                oninput="auto_grow(this)">{{ content }}</textarea>
            <button class="float-right button button-primary" type="submit">
                Update Log
            </button>
        </form>
        <form action="{{ url_for('logbook.delete_log_entry', log_id = log_id) }}" method="post">
            <button class="float-left button button-danger transition-all" type="submit">
                Delete Log
            </button>
        </form>
    </div>
</div>