<div class="mx-auto max-w-2xl" id="new-log">
    <div class="w-full clearfix">
        <form action="{{ url_for('logbook.store_log') }}" method="post" up-target="#logs-list">
            <textarea class="input w-full max-h-screen-80" type="msg" placeholder="What's up?" name="text" autofocus
                oninput="auto_grow(this)"></textarea>
            <button class="button button-primary float-right" type="submit">Log</button>
            <button class="button button-secondary float-left" type="reset" value="Reset">Clear</button>
        </form>
    </div>
</div>