<div class="fixed bottom-0 inset-x-0 mb-6 flex justify-center">
    <div class="flex flex-row justify-between bg-gray-100-70 px-4 px-2 rounded-lg">
        {% if page_nr > 1 %}
        <a up-dash href="{{ url_for('logbook.index') ~ (page_nr - 1) }}" class="order-last">
            <button class="button button-secondary mx-1">⮞</button>
        </a>
        {% else %}
        <div class="py-2 px-4 my-1 mx-1 opacity-0 order-last">⮞</div>
        {% endif %}

        <a up-dash up-modal="#new-log" href="{{ url_for('logbook.create_new_log') }}">
            <button id="new-log" class="button button-primary mx-1 rounded">Log</button>
        </a>

        {% if items|length == 20 %}
        <a up-dash href="{{ url_for('logbook.index') ~ (page_nr + 1) }}" class="order-first">
            <button class="button button-secondary mx-1">⮜</button>
        </a>
        {% else %}
        <div class="py-2 px-4 my-1 mx-1 opacity-0 order-first">⮜</div>
        {% endif %}
        </divs>
    </div>
</div>